In [1]:
import pandas as pd
Admi = pd.read_csv('C:/Users/shubh/Downloads/Admission_Predict1.csv')

In [2]:
Admi.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
Admi.select_dtypes(include='object').columns

Index([], dtype='object')

In [8]:
Admi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance_of_Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [21]:
# Admi['Chance_of_Admit    ']
# Admi['GRE Score']
# Admi.SOP
Admi['Chance_of_Admit ']

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance_of_Admit , Length: 500, dtype: float64

In [20]:
Admi.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance_of_Admit      0
dtype: int64

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
le = LinearRegression()

In [11]:
from sklearn.model_selection import train_test_split
Admi_train, Admi_test = train_test_split(Admi, test_size=0.2)

In [12]:
Admi_train_x = Admi_train.iloc[:,0:-1]
Admi_train_y = Admi_train.iloc[:,-1]

In [13]:
Admi_test_x = Admi_test.iloc[:,0:-1]
Admi_test_y = Admi_test.iloc[:,-1]

In [15]:
le.fit(Admi_train_x, Admi_train_y)

LinearRegression()

In [16]:
pred_Admi_test = le.predict(Admi_test_x)

In [19]:
Rsquare = le.score(Admi_train_x, Admi_train_y)
Rsquare

0.8424616437778247

In [20]:
N = Admi_train_x.shape[0]
K = Admi_train_x.shape[1]
Adj_Rsquare = 1-(1-Rsquare) * (N-1)/(N-K-1)
Adj_Rsquare

0.8392383526019235